body {
	margin-top: 2px;
	padding:0;
	border:0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #5299C5;
	text-align:center;
}
	
#geral {
	width:750px;     
	height: auto;
	/*margin: 5px;*/
	margin: 0 auto;
	text-align: left;
	background-color: white;
}
	
#topo {
	height:150px;
	width: 750px;
	background-image: url(../imagens/fundo_topo.jpg);
}

#nav {
	width: 750px;
	height: 50px;
	clear: both;
    /*border-bottom: 1px solid #FFFFFF;*/
	color: #FFFFFF;
	background: url(../imagens/back.gif) repeat-x;
}

#conteudo {
	clear: both;
	width: 740px;
    margin: 5px;
	text-align: justify;
    height: auto;
	/*border:1px solid #CCC;*/
}


#rodape{
    width: 745px;
	height: 30px;
	line-height: 18px;
	clear: both;
	float: inherit;
	background-image: url(../imagens/back.gif);
	text-align: right; 
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 5px;
	padding-right: 5px; 
}

h5{
	color: #1875b0;
}


hr {
   width: 730px;
   color: #1875b0;
   margin: 5px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover{
	text-decoration: underline;
	color: #1875b0;
}

.mensagem{
	color: #1875b0;
	font-size: 14px;
}

.box{
     width: 600px;
     border: 1px solid #1875b0;
     display: block;
}

.box_secundario{
	 width: 600px;
     border: 1px solid #1875b0;
     display: block;
	 margin-left: 15px;
}
.box_principal{
     width: 650px;
     border: 1px solid #1875b0;
     margin-left: 40px;
     padding-left: 5px;
	 display: block;
}

.botao{
	width: 80px;
	height: 30px;
	background-image: url(../imagens/color_botao.jpg);
	color: white;
	font: Trebuchet MS','Arial;
	border: 1px outset #5299C5;
	text-decoration: none;
	font-weight: bold;
}


.titulo{
      font-family: calibri;
      color: #5299C5;
      font-size: 14px;
}

.titulo_principal{
	font-family: calibri;
    color: #5299C5;
    font-size: 16px;
}

.corpo_tabela {
	border: #1875b0 solid 1px;
}	

.topo_tabela {
	font-size: 14px;
	font-weight:bold;
	color:white;
	background-image: url(../imagens/botao.jpg);
	text-align: center;
	border: #5299C5 solid 1px;
}

.detalhe_tabela {
	font-size:12px;
	color:black;
	border: #1875b0 solid 1px;
	text-align: center;
}


.saudacao{
	font-size: 14px;
	color:#FFFFFF;
}

.aviso{
	font-size: 12px;
	color: #FF0000;
}