body {
	margin-top: 3px;
	padding:0;
	border:0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #333333;
	text-align:center;
	}
	
#geral {
	width:750px;     
	height: auto;
	margin: 0 auto;
	text-align: left;
	background-color: white;
}
	
#topo {
	height:150px;
	width: 750px;
	background-image: url(../imagens/fundo_topo_preta.jpg);
}

#nav {
	width:750px;
	height: 50px;
	clear: both;
    /*border-bottom: #FFFFFF 1px;*/
	color: #FFFFFF;
	background: url(../imagens/back_preta.gif) repeat-x;
}

#conteudo {
	clear: both;
	width: 740px;
    margin: 5px;
	text-align:justify;
    height: auto;	
}
	
#rodape{
    width: 745px;
	height: 30px;
	line-height: 18px;
	clear: both;
	float: inherit;
	background-image: url(../imagens/back_preta.gif);
	text-align: right; 
	font-size: 12px;
	color: #FFFFFF;
	padding-top: 5px;
	padding-right: 5px; 
}

h5{
	color: #000;
}


hr {
   width: 730px;
   color: #000;
   margin: 5px;
}

a{
	text-decoration: none;
	color: #000000;
}

a:hover{
	text-decoration: underline;
	color: #000;
}

.mensagem{
	color: #000;
	font-size: 14px;
}

.box{
     width: 600px;
     border: 1px solid #000;
     display: block;
}

.box_secundario{
	 width: 600px;
     border: 1px solid #000;
     display: block;
	 margin-left: 15px;
}
.box_principal{
     width: 650px;
     border: 1px solid #000;
     margin-left: 40px;
     padding-left: 5px;
	 display: block;
}

.botao{
	width: 80px;
	height: 30px;
	background-image: url(../imagens/color_botao_preta.jpg);
	color: white;
	font: Trebuchet MS','Arial;
	border: 1px outset #000;
	text-decoration: none;
	font-weight: bold;
}


.titulo{
      color: #000;
      font-size: 14px;
}

.titulo_principal{
    color: #000;
    font-size: 16px;
}

.corpo_tabela {
	border: #000 solid 1px;
}	

.topo_tabela {
	font-size: 14px;
	font-weight:bold;
	color:white;
	background-image: url(../imagens/color_botao_preta.jpg);
	text-align: center;
	border: #000 solid 1px;
}

.detalhe_tabela {
	font-size:12px;
	color:black;
	border: #000 solid 1px;
	text-align: center;
}


.saudacao{
	font-size: 14px;
	color:#FFFFFF;
}