ul.menubar{
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  font-size: 12px;
  width: 750px;
  /*border: 1px solid #FFFFFF;*/
  height: 50px;
 }
 
ul.menubar .submenu{
  margin-left: 7px;
  padding-right: 2px;
  list-style: none;
  /*border: 1px solid #FFF;*/
  font-size: 12px;
  float: left;
  width: 110px;
  /*line-height: 5px;*/
}
 
ul.menubar ul.menu{
  display: none;
  position: absolute;
  margin: 0px;
}
 
ul.menubar a{
  padding-top: 4px;
  display: block;
  text-decoration: none;
  color:#FFF;
  font-weight: bold;
}
 
ul.menu, ul.menu ul{
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #FFF;
  width: 150px; 
  background-color: #5299C5;
  font-size: 12px;
}
 
ul.menu li{
  position: relative;
  list-style: none;
  border: 0px;
}
 
ul.menu li a{
  display: block;
  text-decoration: none;
  border: 1px solid #FFFFFF;
  border-bottom: 0px;
  color: white;
  font-size: 12px;
  padding: 5px 10px 5px 5px;
}
 
* html ul.menu li { float: left; height: 1%; }
* html ul.menu li a { height: 1%; }
 
ul.menu ul{
     position: absolute;
     display: none;
     left: 149px; 
     top: 0px;
}
 
ul.menu li.submenu ul { 
		display: none; 
    color: white; 
} 
 
ul.menu li.submenu { 
   	 color: #FFFFFF;
}
 
ul.submenu li a.link:hover { 
	   color: #FFFFFF;
	   text-decoration:none;   	
}

ul.menu li a:hover { 
	   color: #FFFFFF;
	   background-image: url(../imagens/back.gif);
}

img{ 
  border: 0pt; 
}

a img{
  border:none;
  margin:0px 4px 0 0;
}

a {
	color: #FFFFFF;
}

a:hover{
	color: #FFFFFF;
	text-decoration: underline;
	/*background-image: url(../imagens/back.gif);*/
}

a.right {
  float:right; 
}