ul.menubar{
  margin: 0px;
  padding: 0px;
  background-image: url(../imagens/back.gif);
  color: #FFFFFF;
  font-size: 12px;
  font-family: Trebuchet MS','Arial;
  width: 750px;
  border: #FFFFFF 1px solid;
  height: 10px;
 }
 
ul.menubar .submenu{
  margin-left: 5px;
  padding: 0px;
  list-style: none;
  border: 1px white;
  font-size: 12px;
  float: left;
  font-family: Trebuchet MS','Arial;
  width: 50px;
}
 
ul.menubar ul.menu{
  display: none;
  position: absolute;
  margin: 0px;
}
 
ul.menubar a{
  padding: 5px;
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px;
}
 
ul.menu, ul.menu ul{
  margin: 0;
  padding: 0;
  border-botton: 1px solid white;
  width: 150px; 
  font-family: Trebuchet MS','Arial;
  background-color: #5299C5;
  font-size: 12px;
}
 
ul.menu li{
  position: relative;
  list-style: none;
  border: 0px;
}
 
ul.menu li a{
  display: block;
  text-decoration: none;
  border: 1px solid #FFFFFF;
  border-bottom: 0px;
  color: white;
  font-size: 12px;
  padding: 5px 10px 5px 5px;
  font-family: Trebuchet MS','Arial;
}
 
* html ul.menu li { float: left; height: 1%; }
* html ul.menu li a { height: 1%; }
 
ul.menu ul{
     position: absolute;
     display: none;
     left: 149px; 
     top: 0px;
}
 
ul.menu li.submenu ul { 
		display: none; 
        color: white; 
} 
 
ul.menu li.submenu { 
         font-family: Trebuchet MS','Arial;
    	 color: #FFFFFF;
}
 
ul.submenu li a.link:hover { 
       font-family: Trebuchet MS','Arial;
	   color: #FFFFFF;
	   text-decoration:none;   	
}

ul.menu li a:hover { 
       font-family: Trebuchet MS','Arial;
	   color: #FFFFFF;
	   background-image: url(../imagens/back.gif);
}

img{ border: 0pt; }

a img{
border:none;
margin:0px 4px 0 0;
}

a{
	color: #FFFFFF;
}

a:hover{
	color: #FFFFFF;
	text-decoration: underline;
	background-image: url(../imagens/back.gif);
}

a.right {
float:right; 